.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* 1 блок
Центрируем элемент внутри header -> header_title*/
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  margin: 0;
  padding: 0;
  /* width: 100%; здесь вроде не обязательно */
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
/* картинка опять двойка в хедере */
.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* квадрат на фоне блока */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
/* 2-й блок */
/* центрируем блок по оси-x */
.description {
  margin: 100px auto;
  display: flex;
  justify-content: center;
}
/* развигаем блоки по краям родителя при ширине 80% от максимальной ширины*/
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
}
/* псевдокласс для последного элемента в блоке, убирающий марджин снизу */
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
/* выделяем текст жирным шрифтом */
.two-columns__span-accent {
  font-weight: bold;
}
/* 3-й блок */
.digits {
  margin: 100px auto 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  text-align: center;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: 20px 0 0;
}
/* первая таблица в третьем блоке */
.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 auto 0;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  margin: 0;
}

.table__text {
  margin: 20px 0;
  line-height: 1.2;
  font-size: 18px;
}
/* 4-й блок, с фоновой картинкой */
.feynman {
  padding-top: 100px;
  position: relative;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
}
/* 5-ый блок со 2-ой таблицей с чёрным фоном*/
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 90px 0 90px;
  z-index: 1;
}

.section-title_theme_dark {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.section-subtitle_theme_dark {
  margin: 20px auto 0;
  display: flex;
  width: 60%;
  align-content: center;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  color: white;
}

.table_theme_dark {
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
}

.table__heading_theme_dark {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
/* треугольник на фоне блока кауфмена */

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  background-size: 877px 877px;
  top: 0px;
  right: -210px;
  z-index: -1;
}
/* футер */
.footer {
  background-color: #1f1f1f;
  color: #f2f2f2;
  min-height: 350px;
  margin: 0 auto 0;
  display: flex;
  box-sizing: border-box;
  padding: 60px 0 40px;
}
/* раздвигаем блоки по ширине футера по оси-х*/
.footer__columns {
  width: 90%;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
}
/* раздвигаем элементы лого и автора по оси-у к краям блока родителя*/
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  display: flex;
  margin: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

/* главные настройки ссылок выравнивание по цетру иконок и текста  */
.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: initial;
  display: flex;
  align-items: center;
}

/* размер и расстоние от текста лого соц сетей */
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
